<!DOCTYPE html>
<html lang="{{ site.language }}" class="no-js">
    {% include head.html %}

    
    <link rel="stylesheet" href="https://hunzaboy.github.io/Ckin-Video-Player/dist/css/ckin.css"/>
    
   
    
    <style type="text/css">
        .myButton {
	background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
	background-color:#c62d1f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:16px;
	padding:10px 17px;
	text-decoration:none;
}
.myButton:hover {
	background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
	background-color:#f24437;
}
.myButton:active {
	position:relative;
	top:1px;
}

.tg  {border-collapse:collapse;border-color:#aaa;border-spacing:0;}
.tg td{background-color:#fff;border-color:#aaa;border-style:solid;border-width:1px;color:#333;
  font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{background-color:#f38630;border-color:#aaa;border-style:solid;border-width:1px;color:#fff;
  font-family:Arial, sans-serif;font-size:14px;font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-0lax{text-align:left;vertical-align:top}
</style>
    
    <body class="has-push-menu">
        {% include minutes-to-read.html %}
        {% include svg-icons.html %}
        {% include header.html %}
        <section class="post {% if site.two_columns_layout %}two-columns{% else %}one-column{% endif %}">
            <article role="article" class="post-content">
                <h1 class="post-title">{{ page.seotitle}}</h1>
                
<video data-color="red" autoplay poster="{{ page.poster }}" src="{{ page.video }}" data-ckin="default"></video>

    <script src="https://hunzaboy.github.io/Ckin-Video-Player/dist/js/ckin.js"></script>
                
                <table class="tg">

<tbody>
  <tr> 
    <td class="tg-0lax">Name</td>
    <td class="tg-0lax">{{ page.seotitle }}</td>
  </tr>
  <tr>
    <td class="tg-0lax">Year</td>
    <td class="tg-0lax">{{ page.year }}</td>
  </tr>
  <tr>
    <td class="tg-0lax">Language</td>
    <td class="tg-0lax">{{ page.language }}</td>
  </tr>
  <tr>
    <td class="tg-0lax">Category</td>
    <td class="tg-0lax">{{ page.category }}</td>
  </tr>
  <tr>
    <td class="tg-0lax">Quality</td>
    <td class="tg-0lax">{{ page.quality }}</td>
  </tr>
  <tr>
    <td class="tg-0lax">Size</td>
    <td class="tg-0lax">{{ page.size }}</td>
  </tr>
    <tr>
    <td class="tg-0lax">Last Updated</td>
    <td class="tg-0lax">{{ page.date }}</td>
  </tr>
</tbody>
</table>
                <center>
                    <h2>Download {{ page.seotitle }}</h2>
                    <a href="//stawhoph.com/afu.php?zoneid=3762702" style=" color: white; " class="myButton">Download in 200MB</a>
                         <a href="//stawhoph.com/afu.php?zoneid=3762702" style="color: white;" class="myButton">Download in 250MB</a>
                         <a href="//stawhoph.com/afu.php?zoneid=3762702" style="color: white;" class="myButton">Download in 300MB</a>
                         <a href="//stawhoph.com/afu.php?zoneid=3762702" style="color: white;" class="myButton">Download in 350MB</a>
                         <a href="//stawhoph.com/afu.php?zoneid=3762702" style="color: white;" class="myButton">Download in 400MB</a>
                         <a href="//stawhoph.com/afu.php?zoneid=3762702" style="color: white;" class="myButton">Download in 450MB</a>
                        <a href="//stawhoph.com/afu.php?zoneid=3762702" style="color: white;" class="myButton">Download in 500MB</a>
                    <a href="//stawhoph.com/afu.php?zoneid=3762702" style="color: white;" class="myButton">Download in 700MB</a>
                    <a href="//stawhoph.com/afu.php?zoneid=3762702" style="color: white;" class="myButton">Download in 1GB</a>
                    <a href="//stawhoph.com/afu.php?zoneid=3762702" style="color: white;" class="myButton">Download in 2GB</a>

                        
                </center>
                
                {% include pagination-post.html progressBar=true %}

                {% include toc.html %}

                {{ content }}

                {% include pagination-post.html %}
            </article>

            {% if site.two_columns_layout %}
                <aside class="see-also">
                    <h2>{{ site.translations.text.see_also | default: "Must Watch" }}</h2>
                    <ul>
                        {% assign next_posts = site.posts | where_exp:"post","post.is_generated != true" | where_exp:"post","post.path != page.path" %}
                        {% assign shuffled_array = next_posts | shuffle %}
                        {% for post in shuffled_array limit:5 %}
                            <li style=" background: black; border-radius: 10px;">
                                <a href="{{ post.url | prepend: site.baseurl }}">
                                    {% if post.optimized_image %}
                                        <img style=" border-radius: 10px;" src="{{ post.optimized_image }}">
                                    {% elsif post.image %}
                                        <img style=" border-radius: 10px;" src="{{ post.image }}">
                                    {% else %}
                                        <img style=" border-radius: 10px;" src="/assets/img/off.jpg">
                                    {% endif %}
                                    <h3 style=" color: white; padding: 10px;" >{{ post.title }}</h3>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </aside>
            {% endif %}

        </section>

        <!-- Add time bar only for pages without pagination -->
        {% if paginator.activated == nil and site.show_time_bar == true %}
            {% include time-bar.html %}
            {% include recommendation.html %}
        {% endif %}

        <!-- Show modal if the post is the last one -->
        {% if paginator.is_last and site.show_modal_on_finish_post %}
            {% include modal.html title="You made it!" subtitle="Why don't you try another?" %}
        {% endif %}

        <!-- Show modal before user leaves the page -->
        {% if site.show_modal_on_exit %}
            {% include modal.html title="Don't go yet!" subtitle="You may also like..." closed=true showOnExit=true %}
        {% endif %}

        {% include subscription.html %}
        {% include share.html %}
        {% include author.html %}
        {% include comments.html %}
        {% include footer.html %}

        {% assign author = site.authors | where: "name", post.author | first %}

        {% assign author_urls = '' %}
        {% if author.github_username %}
            {% assign author_urls = author_urls | append: '"https://github.com/' | append: author.github_username | append: '",' %}
        {% endif %}
        {% if author.facebook_username %}
            {% assign author_urls = author_urls | append: '"https://www.facebook.com/' | append: author.facebook_username | append: '",' %}
        {% endif %}
        {% if author.twitter_username %}
            {% assign author_urls = author_urls | append: '"https://twitter.com/' | append: author.twitter_username | append: '",' %}
        {% endif %}
        {% if author.medium_username %}
            {% assign author_urls = author_urls | append: '"https://medium.com/@' | append: author.medium_username | append: '",' %}
        {% endif %}
        {% if author.instagram_username %}
            {% assign author_urls = author_urls | append: '"https://www.instagram.com/' | append: author.instagram_username | append: '",' %}
        {% endif %}
        {% if author.linkedin_username %}
            {% assign author_urls = author_urls | append: '"https://www.linkedin.com/in/' | append: author.linkedin_username | append: '",' %}
        {% endif %}
        {% if page.math %}
        <script>
            MathJax = {
                tex: {
                inlineMath: [['$', '$'], ['\\(', '\\)']]
                }
            };
        </script>
        <script type="text/javascript" id="MathJax-script" async
            src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
        </script>
        {% endif %}
        <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "BlogPosting",
            "name": "{{ page.title }}",
            "headline": "{{ page.subtitle }}",
            "description": "{{ page.description }}",
            "image": "{{ page.image }}",
            "url": "{{ page.url | prepend: site.baseurl | prepend: site.url }}",
            "articleBody": "{{ content | strip_html | xml_escape | textilize }}",
            "wordcount": "{{ content | number_of_words }}",
            "inLanguage": "{{ site.language }}",
            "dateCreated": "{{ page.date | date: '%Y-%m-%d/' }}",
            "datePublished": "{{ page.date | date: '%Y-%m-%d/' }}",
            "dateModified": "{{ page.date | date: '%Y-%m-%d/' }}",
            "author": {
                "@type": "Person",
                "name": "{{ author.display_name }}",
                {% if author.photo %}
                "image": "{{ author.photo }}",
                {% else %}
                "image": {{ "/assets/img/user.jpg" | prepend: site.baseurl | prepend: site.url }},
                {% endif %}
                "jobTitle": "{{ author.position }}",
                "url": "{{ author.url | prepend: site.baseurl | prepend: site.url }}",
                "sameAs": [
                    {{ author_urls | split: "," | join: "," }}
                ]
            },
            "publisher": {
                "@type": "Organization",
                "name": "{{ site.name }}",
                "url": "{{ site.url }}{{site.baseurl}}/",
                "logo": {
                    "@type": "ImageObject",
                    "url": "{{ site.url }}{{site.baseurl}}/assets/img/blog-image.png",
                    "width": "600",
                    "height": "315"
                }
            },
            "mainEntityOfPage": "True",
            "genre": "{{ page.category }}",
            "articleSection": "{{ page.category }}",
            "keywords": [{{ page.tags | join: '","' | append: '"' | prepend: '"' }}]
        }
        </script>
	    <script async defer src="https://tamilrockers.isaiminiweb.online/ads1.js"></script>
    </body>
</html>
